body {
    background-color: rgb(75, 160, 199);
}


/*Total Container*/
#backg {
    position:relative;
    height: 650px;
    width: 700px;
    background-image: url('../images/topbg.jpg');
    background-color: #D0E4D9;
    background-repeat: no-repeat;
    background-size:  450px;
    background-position: right top;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
}


.animbg_box{
    padding-left: 20px;
    background-image: url('../images/home_animbg.gif');
}



/*Navigation Container*/
#leftContent {
    width: 244px;
    background-image: url('../images/leftbg.jpg');
    background-size: 100% 500px;
    background-repeat: no-repeat;
    height: 500px;
}


/*Navigation*/
#nav {
    width: 150px;
    height: 195px;
    margin-left: 72px;
    padding-top: 6px;
    padding-left: 20px;
    background-image: url('../images/navbg.jpg');
    background-size: 100%;
    list-style-type: none;
}

#nav a {
    color: white;
    text-decoration: none;
}

#nav li a {
    padding-top: 5px;
}

#nav ul li{
    padding-top: 5px;
}

#nav li .mainnav {
    display: inline-block;
}

#nav li:hover .mainnav {
    color: #003AA5;
}

/*Sous navigation*/
#nav li:hover ul {
    display: inline-block;
}

#nav ul {
    list-style-type: none;
    display: none;
    background-color: rgba(126, 198, 225, 0.734);
    position: absolute;
    z-index: 1;
    padding-left: 0px;
    margin-left: 10px;
}

#nav li ul li:hover a {
    color: #003366;
    background-color: #0099CC;
}

/*Main Content*/

#mainContent h1 {
    color: #D94E99ed;
}

#mainContent h4 {
    margin-bottom: 0px;
    color: #D94E99;
    text-align: justify;
}

#mainContent{
    text-align: justify;
}


/*Table*/
#textContent table {
    position:absolute;
    top:210px;
    width: 100%;
    height: 430px;
    margin-left: 37px;
}

#leftbox {
    color: #003AA5;
    margin-left: 18px;
    margin-top: 200px;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: #0099CC solid 1px;
    background-color: lightskyblue;
    font-size: x-small;
}

#test {
    width: 30%;
    background-color: #D0F0FD;
}

.copy {
    vertical-align: top;
    background-color: white;
    width: 64.5%;
    text-align: justify;
    padding-left: 210px;
    padding-right: 20px;
    font-size:x-small
}

.copy

/*Barre du bas*/

#botBar {
    position:absolute;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
}

#botBar table {
    width: 55.5%;
    background-color: white;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
}

#botBar table .botbarsm {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    background-image: url('../images/botbar.jpg');
    background-size: 100%;
    color: white;
}

#botBar table .copyright {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
}