/*General*/
* {
    margin-top: 0px;
    list-style-type: none;
    text-decoration: none;
}

body {
    margin: 0px;
    background-image: url('../images/mainbg.gif');
    background-repeat: repeat-y;
    height: 765px;
    width: 100%;
}

/*Total container*/
#backg {
    background-image: url('../images/topbg.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    width: 780px;
}

/*Cadre image */
.animbg_box {
    background-image: url('../images/home_animbg.gif');
    background-repeat: no-repeat;
}

/*Navigation*/
#leftContent {
    background-image: url('../images/leftbg.jpg');
    background-repeat: no-repeat;
    height: 540px;
}

#nav {
    padding-top: 10px;
    width: 140px;
    margin-left: 60px;
    line-height: 24.5px;
    background-image: url('../images/navbg.jpg');
    background-size: 100%;
}

#nav a {
    color: white;
}

#nav ul,
li {
    padding: 0;
    margin: 0;
}

#nav li:hover ul {
    display: inline-block;
    left: 210px;
}

#nav li:hover .mainnav {
    color: #003AA5;
}

#nav ul {
    display: none;
    position: absolute;
    background-color: rgba(126, 198, 225, 0.734);
}

#nav ul li:hover a {
    color: #003366;
    background-color: #0099CC;
}

/*Main Content*/
#mainContent h1 {
    color: #D94E99ed;
    font-size: 15px;
}

#mainContent h4 {
    margin-bottom: 0px;
    color: #D94E99;
    text-align: justify;
}

#mainContent {
    position: absolute;
    top: 185px;
}

/*Table*/
#textContent table {
    width: 100%;
}

#leftbox {
    width: 150px;
    margin-top: 210px;
    margin-left: 55px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    background-color: lightskyblue;
    color: #003AA5;
    text-align: left;
    font-size: 11.5px;
}

.copy {
    padding-left: 230px;
    text-align: justify;
    font-size: 14.2px;
}

/*Barre du bas*/
#botBar {
    position: absolute;
    top: 720px;
    width: 780px;
    font-size: small;
}

#botBar table {
    width: 100%;
}

#botBar table .botbarsm {
    background-image: url('../images/botbar.jpg');
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    color: white;
}

#botBar table .copyright {
    padding-left: 50px;
}

@media only screen and (max-width: 780px) {
    #mainContent {
        top: 450px;
    }

    #backg {
        width: 100%;
    }

    #botBar {
        top: 880px;
        width: 100%;
    }

    .copy {
        padding-left: 50px;
        width: 470px;
    }

    #leftbox {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 710px) {
    #backg {
        background-position: right 40px;
    }

    #leftContent {
        width: 100%;
    }

    #nav {
        background-image: none;
        line-height: normal;
        margin-left: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #nav li {
        text-align: center;
        background-color: #42C2FF;
        border: white solid 1px;
    }

    #nav li:hover .mainnav {
        color: black;
    }

    #nav li:hover ul {
        left: auto;
        display: block;
    }

    #nav ul li {
        background-color: white;
    }

    #nav ul li a {
        color: black;
    }

    #nav ul li:hover a {
        color: #003366;
        background-color: #0099CC;
    }

    #mainContent {
        top: 430px;
    }

    .copy {
        padding-left: 50px;
        width: 450px;
    }

    #botBar {
        top: 870px;
    }
}

@media only screen and (max-width: 690px) {
    .copy {
        padding-left: 40px;
    }

    #botBar {
        top: 900px;
    }
}

@media only screen and (max-width: 673px) {
    #botBar {
        top: 920px;
    }
}

@media only screen and (max-width: 650px) {
    #botBar {
        top: 950px;
    }
}

@media only screen and (max-width: 600px) {
    #botBar {
        top: 980px;
    }
}