body {
    background-color: rgb(75, 160, 199);
    background-image:url('/images/mainbg.gif');
    margin : 0;
}


/*Total Container*/
#backg {
    position:relative;
    height: 690px;
    width: 700px;
    background-color: #D0E4D9;
    background-image: url('../images/topbg.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size:  450px;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
}


/*Cadre image */
.animbg_box{
    background-image: url('../images/home_animbg.gif');
    background-repeat: no-repeat;
}


/*Navigation Container*/
#leftContent {
    width: 240px;
    height: 500px;
    background-image: url('../images/leftbg.jpg');
    background-size: 100% 500px;
    background-repeat: no-repeat;
}


/*Navigation*/
#nav {
    width: 150px;
    height: 186.5px;    
    background-size: 170px;
    background-image: url('../images/navbg.jpg');
    background-repeat: no-repeat;
    margin-left: 70px;
    padding-left: 20px;
    padding-top: 8px;
        
    font-size: small;
    list-style-type: none;
}

#nav a {
    color: white;
    text-decoration: none;
}

#nav li a {
    padding-top: 5px;
}

#nav ul li{
    padding-top: 5px;
}

#nav li .mainnav {
    display: inline-block;
}

#nav li:hover .mainnav {
    color: #003AA5;
}

/*Sous navigation*/
#nav li:hover ul {
    display: inline-block;
}

#nav ul {
    list-style-type: none;
    display: none;
    background-color: rgba(126, 198, 225, 0.734);
    position: absolute;
    z-index: 1;
    padding-left: 0px;
    margin-left: 10px;
}

#nav li ul li:hover a {
    color: #003366;
    background-color: #0099CC;
}

/*Main Content*/
#mainContent h1 {
    color: #D94E99ed;
    font-size: 15px;
}

#mainContent h4 {
    margin-bottom: 0px;
    color: #D94E99;
    text-align: justify;
}

/*Table*/
#textContent table {
    position:absolute;
    top:190px;
    width: 100%;
    height: 500px;
    margin-left: 37px; 
}

#test {
    width: 29%;
    background-color: #D0F0FD;
}

#leftbox {
    width: 130px;
    margin-left: 30px;
    margin-top: 190px;
    
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    border: #0099CC solid 1px;
    background-color: lightskyblue;
    color: #003AA5;
    font-size:xx-small;
    text-align: left;
}

.copy {
    vertical-align: top;
    background-color: white;
    width: 65.6%;
    padding-left: 210px;
    padding-right: 20px;
    text-align: justify;
    font-size:x-small
}

/*Barre du bas*/
#botBar {
    position: relative;
    top:-70px;
    font-size: x-small;
}

#botBar table {
    width: 700px;
}

#botBar table .botbarsm {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    background-image: url('../images/botbar.jpg');
    background-size: 100%;
    color: white;
}

#botBar table .copyright {
    display: block;
    padding-left: 50px;
}