body{
    background-color:rgb(75, 160, 199);
}


/*Conteneur du haut*/
#backg{
    background-image: url(/images/topbg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1072px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

/*LeftContent & Navigation*/
#leftContent{
    width: 244px;
    height: 540px;
    background-color: bisque;
    background-image: url(/images/leftbg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#nav{
    margin-left: 72px;
    width:150px;
    height: 195px;
    background-image: url(/images/navbg.jpg);
    background-size: 100%;
    list-style-type: none;
    padding-top: 6px;
    padding-left: 20px;
}

#nav a{
    color: white;
    text-decoration:none ;
}


/*Menu*/
#nav li{
    padding-top: 5.5px;
}

#nav li .mainnav{
    display: inline-block;
}

#nav li:hover .mainnav {
    color:#003AA5;
}

/*Sous Menu*/
#nav li:hover ul {
    display: inline-block;
}

#nav ul{
    list-style-type: none;
    display: none;
    background-color: rgba(126, 198, 225, 0.734);
    position: absolute;
    z-index:1;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

#nav li ul li:hover a{
    color: #003366;
}

/*Main Content*/

#mainContent{
    background-color: greenyellow;
    position: relative;
    top:-100px
}





#textContent table{
    background-color:lightpink;
    width: 100%;

}

#leftbox{
    border : black solid 2px;
    background-color:lightskyblue;
    width: 200px;
    padding-left:10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-top: 280px;
}

.copy{
    padding-left: 120px;
    background-color: darkkhaki;
}

#textContent table h1{
    color :red;
}

#leftbox h4{
    margin-bottom: 0px;
    color :red;
}

#botBar{
    width: 50%;
    background-color: aqua;


}

#botBar table{
    width: 100%;
    background-color: blueviolet;
}



#botBar table .botbarsm{
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    width: 95%;
    background-color: blue;
    color: white;
}

#botBar table .copyright{
    display: inline-block;
    padding-left: 5%;
    width: 95%;
}