/*General*/
* {
    list-style-type: none;
    text-decoration: none;

}

/*Navigation*/
#nav a {
    color: black;

}

#nav li a {
    color: black;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav li ul li a {
    color: red;
}

#nav li {
    display: inline-block;
    border: black solid 1Px;
}

#nav li ul li {
    display: none;
}

#nav li ul {
    position: absolute;
}

#nav li:hover ul li {
    display: block;

}