body {
    background-color: rgb(75, 160, 199);
}


/*Total Container*/
#backg {
    width: 65%;
    background-image: url(/images/topbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

/*Navigation Container*/
#leftContent {
    width: 244px;
    background-image: url(/images/leftbg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}


/*Navigation*/
#nav {
    width: 150px;
    height: 195px;
    margin-left: 72px;
    padding-top: 6px;
    padding-left: 20px;
    background-image: url(/images/navbg.jpg);
    background-size: 100%;
    list-style-type: none;
}

#nav a {
    color: white;
    text-decoration: none;
}

#nav li {
    padding-top: 5.5px;
}

#nav li .mainnav {
    display: inline-block;
}

#nav li:hover .mainnav {
    color: #003AA5;
}

/*Sous navigation*/
#nav li:hover ul {
    display: inline-block;
}

#nav ul {
    list-style-type: none;
    display: none;
    background-color: rgba(126, 198, 225, 0.734);
    position: absolute;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

#nav li ul li:hover a {
    color: #003366;
}

/*Main Content*/

#mainContent {
    background-color: greenyellow;
}

#mainContent h1 {
    color: red;
}

#mainContent h4 {
    margin-bottom: 0px;
    color: red;
}


#textContent table {
    width: 100%;
    background-color: lightpink;
}

#leftbox {
    width: 200px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: black solid 2px;
    background-color: lightskyblue;
}

.copy {
    background-color: darkkhaki;
}

/*Barre du bas*/

#botBar {
    width: 65%;
}

#botBar table {
    width: 100%;
    background-color: blueviolet;
}

#botBar table td {
    border: 1px solid #333;
}

#botBar table .botbarsm {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    background-image: url(/images/botbar.jpg);
    background-size: 100%;
    color: white;
}

#botBar table .copyright {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
}