/*General*/
* {
    list-style-type: none;
    text-decoration: none;
}

body {
    margin: 0px;
    background-image: url('../images/mainbg.gif');
    background-repeat: repeat-y;
    height: 765px;
    width: 100%;

}

/*Total container*/
#backg {
    background-image: url('../images/topbg.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    width: 780px;
    /* border: black 1px solid; */
}

/*Cadre image */
.animbg_box {
    background-image: url('../images/home_animbg.gif');
    background-repeat: no-repeat;
}

/*Navigation*/
#leftContent {
    background-image: url('../images/leftbg.jpg');
    background-repeat: no-repeat;
    width: 244px;
    height: 540px;
    /* border: red 1px solid; */
}

/*Navigation*/
#nav a {
    color: white;
}


#nav {
    width: 140px;
}

#nav li {
    display: inline-block;
}




#nav li:hover .mainnav {
    color: #003AA5;
}

/*Sous navigation*/
#nav ul {
    display: none;
    background-color: rgba(126, 198, 225, 0.734);
    z-index: 1;
    position: absolute;
    padding-left: 0px;
    margin-left: 10px;
}

#nav li:hover ul {
    display: inline-block;
}

#nav li ul li:hover a {
    color: #003366;
    background-color: #0099CC;
}

/*Main Content*/
#mainContent h1 {
    color: #D94E99ed;
    font-size: 15px;
}

#mainContent h4 {
    margin-bottom: 0px;
    color: #D94E99;
    text-align: justify;
}

#mainContent {
    position: absolute;
    top: 185px;
    /* border: green 2px solid; */
}

/*Table*/
#textContent table {
    width: 100%;
    /* border: tomato 5px solid; */
}

#leftbox {
    width: 150px;
    margin-top: 210px;
    margin-left: 55px;
    padding-left: 15px;
    padding-bottom: 5px;
    background-color: lightskyblue;
    /* border: #0099CC solid 1px; */
    color: #003AA5;
    text-align: left;
    font-size: 11.5px;
}

.copy {
    padding-left: 230px;
    text-align: justify;
    font-size: 14.2px;

}

/*Barre du bas*/
#botBar {
    position: absolute;
    top: 720px;
    width: 780px;
    font-size: small;
}

#botBar table {
    width: 100%;

}

#botBar table .botbarsm {
    background-image: url('../images/botbar.jpg');
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    color: white;
}

#botBar table .copyright {
    padding-left: 50px;
}

@media only screen and (max-width: 910px) {
    #leftContent {
        width: 100%;

    }

    #leftbox {
        margin-top: 0px;
    }






    #mainContent {
        top: 420px;
    }

    .copy {
        padding-left: 50px;
        width: 450px;
    }

    #botBar {
        top: 850px;
    }
}

@media only screen and (max-width: 800px) {
    #backg {
        width: 100%;
    }

    #botBar {
        top: 870px;
        width: 100%;

    }

    .copy {
        padding-left: 50px;
        width: 420px;
    }
}

@media only screen and (max-width: 700px) {
    #botBar {
        top: 900px;

    }

    .copy {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 625px) {
    #botBar {
        top: 950px;

    }

    .copy {
        padding-left: 30px;
    }
}